.todo-list {
    margin: 0;
    padding: 0;
}

.todo-item {
    position: relative;
    display: block;
    width: 56%;
    margin: 15px auto 0;
    padding: 10px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    border-bottom: 1px solid #2095F3;
}

.todo-link {
    color: #000;
    text-decoration: none;
}

.todo-link:hover {
    color: #2196f3;
}

.completed .todo-link {
    text-decoration: line-through;
    color: #A0A0A0;
}