<details class="education">
    <summary class="education__summary">Education</summary>
    <dl class="education__list">
        <dt class="education__item">Hillel</dt>
            <dd class="education__descr">Angular 2, 2017</dd>
        <dt class="education__item">Hillel</dt>
            <dd class="education__descr">Front-End Pro, 2017</dd>
        <dt class="education__item">Odessa National Polytechnic University</dt>
            <dd class="education__descr">Specialist’s diploma, Electronic instruments and devises, 2015</dd>
    </dl>
</details>