<details class="contacts">
    <summary class="contacts__summary">{{title}}</summary>
    <ul class="contact__list">
        <li class="contacts__item">
            <a class="contacts__link contacts__link--new-tab" [href]="socialLinks.facebook" target="_blank">Facebook</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link contacts__link--new-tab" [href]="socialLinks.linkedin" target="_blank">Linkedin</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link contacts__link--new-tab" [href]="socialLinks.instagram" target="_blank">Instagram</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" [href]="getMailTo(mail)">Gmail</a>
        </li>
    </ul>
</details>