@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
    padding: 10px;
    background-color: #2095F3;
}

h1 {
    margin: 0;
    text-align: center;
    color: #fff;
}

.wrapper {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
}
