<details class="contacts">
    <summary class="contacts__summary">Social links</summary>
    <ul class="contact__list">
        <li class="contacts__item">
            <a class="contacts__link contacts__link--new-tab" href="https://www.facebook.com/profile.php?id=100001507805300" target="_blank">Facebook</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link contacts__link--new-tab" href="https://www.linkedin.com/in/andrey-alekhin-b3a371107/" target="_blank">Linkedin</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link contacts__link--new-tab" href="https://www.instagram.com/andy.alekhin/" target="_blank">Instagram</a>
        </li>
        <li class="contacts__item">
            <a class="contacts__link" href="mailto:andy.alekhin@gmail.com">Gmail</a>
        </li>
    </ul>
</details>