.todo-wrap {
    text-align: center;
}

.todo-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.todo-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.todo-done {
    display: inline-block;
    width: 16%;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    border: 1px solid #2095F3;
    border-radius: 15px;
    background-color: #2095F3;
    cursor: pointer;
}